#color_scheme {
   width: 70%;
   display: flex;
   justify-content: space-evenly;
}

.colors_container {
   cursor: pointer;
   height: 0.9em;
   border-left: 1.1em solid;
   border-right: 1.1em solid;
   border-top: 1.1em solid;
}
